body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    background-color: rgba(160, 160, 160, 0.377);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    /* width: 1200px; */
}

.inner-container{
    border: 2px solid black;
    width: 1000px;
    height: 700px;
}

.first-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first-container-score{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.heading{
    color: rgb(2, 2, 85);
}

.second-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

img{
    width: 130px;
    border-radius: 5px;
}

.second-container-images{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.third-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.third-container-button-div{
    margin-top: 20pz;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

/* CSS */
.button27 {
    width: 150px;
    appearance: none;
    background-color: hwb(0 21% 17%);
    border: 2px solid hwb(0 21% 17%);
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    height: 70px;
    font-weight: 900;
    font-size: 20px;
}

.button27:disabled {
  pointer-events: none;
}

.button27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button27:active {
  box-shadow: none;
  transform: translateY(0);
}

.footer-div{
    text-align: center;
    margin-top: 50px;
}


.reset-button{
    padding: 10px;
}